#calls_grid {
	min-width: 660px;
}

#calls_grid .search-div input.search-query {
	width: 140px;
}

#calls_grid .sub-ranges {
	margin-top: 5px;
	height: 35px;
}

#calls_grid .sub-ranges > * {
	display: inline-block;
}

#calls_grid .fixed-ranges {
	width: 100%;
	height: 35px;
	margin-top: 20px;
}

#calls_grid .fixed-ranges .btn-toolbar {
	margin-top: 0;
}

#calls_grid .fixed-ranges-date {
	margin-top: 10px;
	margin-right: 30px;
}

#calls_grid .fixed-ranges-date .highlight-date {
	color: #22a5ff;
	font-weight: bold;
	margin: 0 5px;
}

#calls_grid .custom-range {
	display: none;
	margin-right: 15px;
}

#calls_grid .custom-range.active {
	display: inline-block;
}

#calls_grid .custom-range > * {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#calls_grid .custom-range > span {
	margin-right: 5px;
}

#calls_grid .custom-range input.date-filter,
#calls_grid .custom-range input.time-filter {
	width: 80px;
}

#calls_grid .button-row {
	width: 100%;
	height: 60px;
	margin-top: 20px;
}

#calls_grid .call-logs-content {
	margin-top: 30px;
}

#calls_grid .call-logs-grid-wrapper {
	max-height: 900px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#calls_grid .call-logs-grid {
	background-color: #f6f6f6;
	border-bottom: solid 2px #ddd;
	border-radius: 2px;
	width: 100%;
	box-sizing: border-box;
}

#calls_grid .grid-row-group:not(:last-of-type) {
	border-bottom: solid 1px #e3e3e3;
}
#calls_grid .grid-row-group:first-of-type {
	border-bottom: solid 1px #ddd;
}
#calls_grid .grid-row-group .grid-row:not(:first-of-type) {
	border-top: solid 1px #e3e3e3;
}
#calls_grid .grid-row-group:last-of-type:not(.open) .main-leg {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#calls_grid .grid-row-group.open:last-of-type .extra-leg:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#calls_grid .grid-row.header-row {
	background-color: #22a5ff;
	color: #fff;
	text-shadow: 1px 1px 1px #666666;
	font-weight: 600;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-sizing: border-box;
}
#calls_grid .grid-row:not(.header-row) {
	font-size: 13px;
}
#calls_grid .grid-row:not(.header-row) > .grid-cell:first-child {
	border-left: solid 2px #ddd;
}
#calls_grid .grid-row:not(.header-row) > .grid-cell:last-child {
	border-right: 0px;
}
#calls_grid .grid-row.no-match {
	display: none;
}
/*
#calls_grid .grid-row-group:not(.open) .grid-row.main-leg > .grid-cell:first-child {
	border-left: solid 2px #22a5ff;
}
#calls_grid .grid-row-group.open .grid-row > .grid-cell:first-child {
	border-left: solid 2px #44cc44;
}
*/
#calls_grid .grid-row.main-leg:hover {
	background-color: #eee;
	cursor: pointer;
}
#calls_grid .grid-row-group .extra-legs {
	display: none;
}

#calls_grid .grid-row-group .extra-legs .loading-container {
	background: #fff;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 15px;
	text-align: center;
}

#calls_grid .grid-row-group .extra-legs .loading-container i {
	margin-left: 10px;
}

#calls_grid .grid-row.extra-leg {
	background-color: #fcfcfc;
	border-top: solid 1px #e3e3e3;
}

#calls_grid .grid-cell {
	display: inline-block;
	padding: 10px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	vertical-align: bottom;
}
#calls_grid .grid-cell.high-cell {
	padding-top: 0;
	padding-bottom: 0;
}
#calls_grid .grid-cell:not(:first-of-type) {
	border-left: solid 1px #e3e3e3;
}

#calls_grid .grid-cell.direction {
	width: 10%;
}
#calls_grid .grid-cell.datetime {
	width: 11%;
}
#calls_grid .grid-cell.from {
	width: 23%;
}
#calls_grid .grid-cell.to {
	width: 23%;
}
#calls_grid .grid-cell.duration {
	width: 8%;
}
#calls_grid .grid-cell.hangup {
	width: 14%;
}
#calls_grid .grid-cell.full-width {
	width: 100%;
}
#calls_grid .grid-row:not(.header-row) .grid-cell.hangup .cause-title {
	text-transform: capitalize;
	font-size: 12px;
	font-style: italic;
}
#calls_grid .grid-cell.actions {
	width: 11%;
}
#calls_grid .grid-cell.actions i:hover {
	color: #22a5ff;
	cursor: pointer;
}

#calls_grid .sub-cell {
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#calls_grid .sub-cell.single-cell {
	height: 40px;
	line-height: 40px;
}

#calls_grid .hangup .sub-cell.single-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: normal;
}

#calls_grid .call-logs-loader {
	margin-top: 10px;
	padding: 10px;
	border: solid 1px #999;
	border-radius: 2px;
	text-align: center;
	background-color: #eaeaea;
}

#calls_grid .call-logs-loader .loader-message {
	cursor: pointer;
}

#calls_grid .call-logs-loader.loading .loader-message {
	display: none;
}

#calls_grid .call-logs-loader:not(.loading) .loading-message {
	display: none;
}

#calls_grid .call-logs-loader .loading-message i {
	margin-right: 10px;
}

/******************** Popup *********************/

#call_logs_details_popup {
	padding: 20px;
	max-width: 700px;
	max-height: 500px;
	overflow: auto;
}

/********************** COLORBLIND SETTINGS **********************/
body.colorblind #calls_grid .grid-row:not(.header-row) .grid-cell.direction {
	background-color: #999;
}
body.colorblind #calls_grid .grid-cell.direction .monster-green {
	color: #EEE !important;
}
body.colorblind #calls_grid .grid-cell.direction .monster-orange {
	color: #222 !important;
}

.call-logs-grid-wrapper {
	scrollbar-width: auto;
	scrollbar-color: rgba(0,0,0,0.2) transparent;
	border-right: 2px solid #ddd;
}

.call-logs-grid-wrapper::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.call-logs-grid-wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
	border-radius: 6px;
	border: 3px solid transparent;
	background-clip: padding-box;
}

#calls_grid .download-button { 
	padding-left: 5px;
}

#calls_grid .monster-button.reload-cdrs,
#calls_grid .monster-button.download-csv {
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
}

#calls_grid .grid-row-group.open .grid-row.main-leg {
    font-weight: 600;
}

#calls_grid .grid-row-group.open .grid-row {
    background: color-mix(in srgb, #22a5ff 6%, transparent) !important;
}

#calls_grid .grid-row-group.open .grid-row > .grid-cell:first-child {
	border-left: solid 2px #22a5ff;
}